.aside {
    top: 0;
    left: 0;
    min-height: 100%;
    position: fixed;
    display: block;
    background-color: white;
    z-index: 10;
    transform: translateX(-150%);
    transition: 0.3s;
    box-shadow: 20px 0px 20px -10px rgb(207, 207, 207);
    overflow-y: scroll;

    @media (min-width: $desktop) {
    position: fixed;
    display: block;
    box-shadow: none;
    transform: translateX(0);
    z-index: 1;
    }
}


.aside--active {
  position: fixed;
  transform: translateX(0%);
}

.aside-container {
    height: 100vh;
    width: 100vw;
    min-height: 100%;
    width: 100vw;
    transition: 0.2s;
    @media (min-width: 361px) {
        width: 320px;
    }
}

.aside__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    height: 100%;

    @media (min-width: $tablet) {
        min-height: 764px;
    }

    @media (min-width: $desktop) {
        height: 100%;
        max-height: 962px;
    }
}


.aside__header {
    margin-top: 18px;
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
        margin-top: 24px;
    }

    @media (min-width: $desktop) {
        margin-top: 34px;
    }
}


.aside__close {
    display: flex;
    column-gap: 17px;
    flex: 1 0 auto;
    align-items: center;
    @media (min-width: $desktop) {
        .aside-btn__close {
            display: none;
        }
    }
}


.aside__main {
  flex: 1 1 1/3;
}

.aside__nav {
  flex-grow: 1;
}

.aside__nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 12.5%;
  height: 450px;
}

.aside__nav-link {
    position: relative;
    display: block;
    color: #1b1c21;
    transition: .4s;

    &:hover, &:focus {
        color:#7E7E82;

        &::before {
        content: "";
        }
  }
}
.aside__nav-link--active {
    color:#7E7E82;

    &::before {
        content: "";
        position: absolute;
        height: 32px;
        width: 4px;
        left: -16px;
        top: -4px;
        border-radius: 0 4px 4px 0;
        background-color:  #41F6D7;
    }
}
.aside__footer {
    margin-top: auto;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    padding-bottom: 40px;
}

.aside__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.aside__footer-inner {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.aside__footer-nav {
    display: flex;
    column-gap: 16px;
}

.aside__mail {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1b1c21;
}

.aside__phone {
    font-family: 'TT Lakes';
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #1b1c21;
    letter-spacing: -0.6px;
}
.aside__lang-options {
    display: flex;
}

.lang__btn {
    text-transform: uppercase;
    font-family: 'TT Lakes';
    font-size: 1rem;
    line-height: 24px;
    margin-right: 7px;
    letter-spacing: -0.2px;
    font-weight: 400;
    color: #1b1c21;
    transition: 0.3s;

    &:hover, &:focus {
        opacity: 0.5;
    }
}
.lang__btn--active {
    opacity: 0.5;
}
