.footer {
  border-top: 1px solid #d9fff5;
}

.footer__items {
    padding: 19px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;

    @media (min-width: $tablet) {
          padding: 0;
          width: 90%;
          margin: 0 auto;
          flex-direction: row;
          height: 106px;
          align-items: center;
          justify-content: space-between;
    }

    @media (min-width: $desktop) {
          height: 85px;
      }
}



.footer__item {
    @media (min-width: $tablet) {
        flex: 0 0 1/3;

        &:first-child {
            text-align: start;
        }

        &:last-child {
            text-align: end;
        }
    }
}
